# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/.idea.react-complete-app.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../:\WorkSpace\Egna projekt\react-complete-app\.idea\.idea.react-complete-app.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
